h1 {
    color: rgb(6, 117, 139);
    font-size: 70px;
    font-family: "Open sans", sans-serif;
    text-align: center;
}



.square {
    width: 100%;
    text-align: center;
    color: white;
}
.square p {
    font-size: 20px;
}
.button {
    color: #FFF;
    background-color: transparent;
    /* Blue */
    font-weight: bold;
    padding: 20px;
    border: 3px solid rgb(6, 117, 139);
    /* Dark gray */
    border-radius: 5px;
    width: 200px;
    margin: 20px auto;
}

.button:hover {
    background-color: rgb(6, 117, 139);
}

.achtergrond {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(img/background.JPEG);
    background-size: contain;
    background-position: center;
}

.achtergrond2 {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(img/background2.png);
    background-size: contain;
    background-position: center;
}

ul {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}

li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    list-style: none;
}

li a:hover {
    border-bottom: 2px solid rgb(6, 117, 139);
}

li {
    list-style: none;
    display: flex;
    margin: 0 20px;
}

.global {
    background-color: rgb(43, 43, 43);
    font-family: "Open sans", sans-serif;
    color: white;
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 400;
}


.title {
    width: 100%;
    text-align:left;
    color: white;

}

.title p {
    text-align: left;
    font-size: 20px;

}
.bestemmingen {
    display: flex;
    justify-content: left;
    flex-direction:column;
    color: white; 
}

.content {
    display:flex;
    font-size: 20px;
    color: white;
    margin: 5vw;
    justify-content: center;
    padding-left:10vw;
    padding-right:10vw;
    text-align: center;

}

img {
    width: 100%;
    display: flex;
    margin: auto;
}

.page3 {
    background-color: black;
}

.imagetop2landen {
    padding: 10px;
    display: flex;
    flex-direction: row;
    
}
.foto1, .foto2 {
    width: 500%;
    height: 300%;

}
.imagetop2landen h2 {
    color:white;

}
article > h2,p {
    color: #FFF;
    margin:2em; 
}

body {
    background-color: black;
}


.container {
    display: flex;
    flex-direction: row;
    color:black;
    flex-wrap:wrap;
    
}
.container img{
    width: 800px;
    height: 600px;
    justify-content:left; 
}
.card {
    background-color:rgb(6, 117, 139) ;
    width: 98em;
    height: 10em;
    margin: 10px;
    border-radius: 10px;
    font-size: 1em;

    
}
.card:hover{
    background-color:grey;
    transition: 0.6s;
    color: white;
    transform: scale(0.99);
}
footer{
    color:white;
}
.footer{
    background-color: grey;
    margin-top:20em;
    text-align: center;
    padding:2em;

}